// Please copy default.scss to site.scss to customize your site.
//
// If site.scss (or site.sass) exists, then default.scss will not
// be used. (You can then use it for reference later.)
//
// Be sure to `@import "minima"` after the variables needed for it
// and before your own custom CSS, so you can easily override
// (if you really need to).

@import url('https://fonts.googleapis.com/css?family=Copse|Share+Tech+Mono')

// Our variables
$base-font-family: "Copse", sans-serif
$base-font-size: 18px
$base-font-weight: 200
$small-font-size: $base-font-size * 0.875
$base-line-height: 1.5
$mono-font-family: "Share Tech Mono", monospace

$spacing-unit: 1rem

$text-color: #def
$background-color: #777
$brand-color: #b3d1ff

$grey-color: #112
$grey-color-light: lighten($grey-color, 6%)
$grey-color-dark: darken($grey-color, 6%)

// Width of the content area
$content-width: 1170px

$nav-menu-color: rgba(black, 0.75)
$nav-highlight-color: #4faffa
$nav-menu-top-color: linear-gradient(to top, $nav-highlight-color 4px, $nav-menu-color 4px, transparent)
$nav-text-color: $text-color !default
$nav-highlight-text-color: #fff
$nav-menu-top-text-color: #fff

// Import partials from the `minima` theme.
@import minima

// Sticky footer
@import lib/stickyfooter.sass

// Navbar (check out lib/navbar.sass for customizable options)
@import lib/navbar.sass

@import lib/syntax


// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

html
  background-color: black
  background-image: url("../images/background.png")
  background-size: tile
  background-attachment: fixed

body
  background: radial-gradient(ellipse at center top, rgba(0,0,0,0) 100%, rgba(0,0,0,0.3) 100%)

.masthead
  box-sizing: border-box
  background: rgba(black, 0.4) // this is also the background of navbar, navbar itself is transparent..
  float: left
  width: 100%
  line-height: 45px
  padding-left: calc((100vw - #{$content-width}) / 2)

  .hgroup
    float: left

  h1
    margin: 0

  .logo
    margin: 10px 24px 0 20px

  .nav-wrap
    float: left

    > nav > ul > li >
      a, span
        text-transform: uppercase
        font-weight: bold

      > a
        color: #999 !important

    ul ul
      line-height: $base-line-height

.page-content
  padding: 7rem 1em 0

h1, h2, h3, h4, h5, h6
  font-family: $base-font-family

.intro
  font-weight: 200
  padding: 48px 0 12px
  margin: -7rem 0 3em
  font-weight: 200
  font-size: 22.5px
  text-shadow: 0 0 0 $text-color

  h1
    font-weight: 200
    color: #777
    text-shadow: 0px 0.5px 12px rgba(0,0,0,0.4)
    font-size: 67.5px
    line-height: 1

  .btn
    margin: 1ex 0 0
    display: inline-block
    color: white
    font-size: 32px
    font-weight: 600
    text-shadow: 0 0.5px 2px rgba(0,0,0,0.3)
    background: goldenrod
    background: linear-gradient(to bottom, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%)
    padding: 0 32px 0 32px
    border-radius: 60px
    text-align: center
    border: 2px solid #cc6611

hr
  margin: 2rem 0
  border: 1px solid mix($text-color, $background-color, 50)

pre, code, .highlighter-rouge .highlight
  font-family: $mono-font-family
  background-color: $grey-color

.highlighter-rouge
  z-index: 1
  opacity: 0.7

footer
  background: rgba(black, 0.4) // this is also the background of navbar, navbar itself is transparent..
  text-align: center
  padding: 1.5em
  font-size: 0.8em
  
  
